body{
    font-family: Arial, Helvetica, sans-serif;
    width: 540px;
    margin-left: 0;
    margin-bottom: 0;
    background-color: black;
    color: #FF2400;
}

ul{
    list-style: none;
}

header{
    text-align: center;
}
a{
    text-decoration: none;
}

/*SECCION 1*/
.seccion1{
    text-align: center;
    height: 665px;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
}

.caja-titulo{
    background-color:#FF2400;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    height: 170px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.titulo{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
    margin-right: -30px;
    padding-right: 40px;
}

.parrafo1{
    padding-top: 30px;
    text-align: justify;
    padding-right: 15px;

}

.seccion1-imagen img{
    width: 320px;
    height: 200px;
    border-radius: 40px;
    object-fit: cover;
}

/*SECCION 2*/
.seccion2{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: white;
}
.seccion2-imagen{
    position: relative;
}
.seccion2-imagen img{
    margin-top: 40px;
    width: 230px;
    border-radius: 40px;
    object-fit: cover;
}
.seccion2-celular{
    position: absolute;
    padding: 26px;
    margin-top: -258px;
    margin-left: 280px;
    background-color:#FF2400;
    border-radius: 50%;
}
.seccion2-celular img{
    width: 40px;
}
.seccion2-about{
    margin: 80px auto;
    text-align: left;
}
.seccion2-about a{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.seccion2-about a:hover{
    color: #FF2400;
}
.seccion2-about a img{
    vertical-align: middle;
    width:26px;
    margin-right: 5px;
}

/*SECCION 3*/
.seccion3{
    background-color: #f2f2f2;
    padding-bottom: 80px;
    padding-top: 40px;
}
.seccion3 h2{
    padding-bottom: 40px;
    margin-right: 15%;
    margin-left: 6%;
    color: black;
}
.seccion3-pintermedio{
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px 0px;
    color: black;
}

.cajas{
    display: flex;
    flex-direction: column;
}

.caja{
    font-size: 22px;
}
.caja-fondo{
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 48px 12px;
    margin-right: 10%;
    margin-left: 10%;
}
.bombillo-seccion3{
    padding-top: 10px;
    text-align: center;
    width: 90px;
    height: 80px;
    margin: 0 auto;
    background-color: #FF2400;
    border-radius: 50%;
}
.bombillo-seccion3 img{
    width: 64px;
}
/*SECCION 4*/
.seccion4{
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 30px;
}
.galeria{
    margin-top: 10%;
    text-align: center;
}
.galeria img{
    object-fit: cover;
    padding-bottom: 20px;
    width: 340px;
    height: 311px;
}
.seccion4-texto{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
}
.seccion4-texto a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.boton-seccion4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion4-texto a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

/*SECCION 5*/
.seccion5{
    background-color: #ffffff;
    padding-bottom: 30px;  
}
.seccion5 h2{
    padding-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
}
.cajas-seccion5{
    margin: 5% 10%;
}
.imagenes-seccion5{
    padding: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF2400;
}
.imagenes-seccion5 img{
    width: 40px;
}
.caja-seccion5{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 20px 15px;
    flex-wrap: wrap;
    border-radius: 60px;
    margin: 40px auto;
}
.caja-seccion5 p{
    color: white;
}
.caja-seccion5 strong{
    color: #FF2400;
}
/*SECCION 6*/
.seccion6{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;  
    padding-bottom: 50px;
    padding-top: 70px;
}
.cajas-seccion6{
    display: flex;
    flex-direction: column;
}
.seccion6-parte1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px; 
    background-image: url('/Imagenes/Persona3.jpg'); 
    background-size: cover; 
    background-position: center; 
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.info-imagen{
    display: flex;
    flex-direction: column;
    background-color: #FF2400;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    padding-bottom: 10px;
}
.info-imagen strong{
    font-size: 25px;
}
.titulo-imagen{
    padding-top: 10px;
}
.seccion6-texto-informativo{
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 15px;
}
.seccion6-texto-informativo h2{
   color: white;
}
.seccion6-texto-informativo p{
    padding-bottom: 10px;
    color: white;
}
.seccion6-texto-informativo a{
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.seccion6-texto-informativo a:hover{
    color: rgb(255, 255, 255);
    background-color: #FF2400;
}

/*SECCION 7*/
.seccion7{
    text-align: center;
    padding: 10%;
    background-color:white ;
}
.seccion7-caja{
    padding: 60px;
    background-color: white;
    border-radius: 40px;
    margin: 10% auto;
}
.seccion7-caja img{
    padding: 36px;
    margin: -128px auto 0;
    background-color: #FF2400;
    border-radius: 25px;
    width: 80px;
    height: 70px;
}
.seccion7-caja strong{
    font-size: 56px;
}
.seccion7-info{
    margin: 16% auto;
    padding-bottom: 30px;
}
.texto-compra{
    padding-bottom: 30px;
}
.plan1{
    background-color: black;
    padding: 20px 50px;
    border-radius: 30px;
}
.plan1 a{
    color: white;
    font-weight: bold;
}
.plan1:hover{
    color: rgb(0, 0, 0);
    background-color: #FF2400;
}
.plan2{
    background-color: #000000;
    padding: 20px 50px;
    border-radius: 30px;
}
.plan2 a{
    color: white;
    font-weight: bold;
}
.plan2:hover{
    color: rgb(0, 0, 0);
    background-color: #FF2400;
}

/*SECCION 8*/
.seccion8{
    margin-right: 10%;
    margin-left: 10%;
    color: rgb(255, 255, 255); 
}
.seccion8-parte1{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}
.caja-seccion8{
    padding-bottom: 30px;
}
.caja8-imagen1{
    background-image: url(/Imagenes/Kazue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border-radius: 20px;
    width: 280px;
    height: 240px;
}
.caja8-imagen2{
    background-image: url(/Imagenes/Persona4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border-radius: 20px;
    width: 280px;
    height: 240px;
}
.caja8-imagen3{
    background-image: url(/Imagenes/Yuki.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border-radius: 20px;
    width: 280px;
    height: 240px;   
}
.caja8-imagen4{
    background-image: url(/Imagenes/Makoto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border-radius: 20px;
    width: 280px;
    height: 240px;
}
.caja8-redes{
    margin-top: 200px;
    text-align: center;
}
.caja8-redes a img{
    width:32px;
}
.seccion8-parte2{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}
.caja8-imagen2 img{
    width: 200px;
}
.seccion8 h3{
    color: #ffffff;
}


/*SECCION 9*/
.seccion9{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding-bottom: 55px;
    padding-top: 55px;
}
.seccion9 h2{
    margin-right: 10%;
    margin-left: 10%;
}
.seccion9 img{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 70px;
    padding-bottom: 20px;
}
/*SECCION 10*/
.seccion10{
    padding-top: 50px;
    padding-bottom: 30px;

}
.contenedor-seccion10{
    text-align: left;
    background-color:#f2f2f2;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contenedor-seccion10 strong{
    padding-left: 100px; 
}
.contenedor-seccion10 input{
    margin-left: 23%;
    background-color:white;
    border-radius: 10px;
    border-color:transparent;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.contenedor-seccion10 textarea{
    margin-left: 23%;
    border-color: transparent;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.contenedor-seccion10 a{
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000000;
    border-radius: 50px;
    color: white;
    font-weight: bolder;  
}
.contenedor-seccion10 a:hover{
    color: rgb(255, 255, 255);
    background-color: #FF2400;
}
.boton-seccion10{
    padding-left: 100px;
    padding-top: 25px;
}
.texto-informativo-seccion10{
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
footer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    height: 150px;
    color: white;
}
footer a{
    text-decoration: underline;
    color: white;
}






